absl-py
anyio
appdirs
astunparse
autopep8
beautifulsoup4
bpemb
cached-property
cachetools
certifi
charset-normalizer
click
cloud-tpu-client
cloudpickle
coloredlogs
conllu
cycler
Deprecated
fastapi
fcache
filelock
flair
flatbuffers
fonttools
ftfy
future
gast
gdown
gensim
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h11
h5py
httplib2
httptools
huggingface-hub
humanfriendly
hyperopt
idna
importlib-metadata
isodate
Janome
joblib
keras
Keras-Preprocessing
kiwisolver
konoha
langdetect
libclang
lxml
Markdown
MarkupSafe
matplotlib
more-itertools
mpld3
networkx
nltk
numpy
oauth2client
oauthlib
opt-einsum
overrides
packaging
Pillow
pptree
protobuf
py4j
pyasn1
pyasn1-modules
pycodestyle
pydantic
pyparsing
PySocks
python-dateutil
python-dotenv
PyYAML
rdflib
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
segtok
sentence-transformers
sentencepiece
six
smart-open
sniffio
soupsieve
SPARQLWrapper
sqlitedict
starlette
tabulate
#tensorboard==2.10.0
#tensorboard-data-server==0.6.1
#tensorboard-plugin-wit==1.8.1
#tensorflow-estimator==2.10.0
#tensorflow-macos==2.10.0
#tensorflow-metal==0.6.0
termcolor
threadpoolctl
tokenizers
toml
#torch==1.12.1
#torchvision==0.13.1
tqdm
#transformers==4.21.2
typing_extensions
Unidecode
uritemplate
urllib3
uvicorn
uvloop
#watchfiles==0.17.0
wcwidth
websockets
Werkzeug
#Wikipedia-API==0.5.4
wrapt
zipp